//======================================================
//-------------------------Colors
//======================================================

//============= Navigation
$navColor: #7377BF;

//============= Header
$headerColor: #538AC5;

// Headings
$headingsColor: #4ABDAC;


//======================================================
//-------------------------BreakPoints
//======================================================

$breakpoints: (
	'md': 768px,
	'lg': 1024px, 
);