//=========================================================================
// Grid container
//=========================================================================
.container {
 @include flexy (
   $dir:column,
 );
 // Media
 @include mg("md") {
   display: grid;
   grid-template-columns: 80px auto;
   grid-template-rows:110px auto;
   grid-template-areas: 
     "header  header"
     "nav  main"; 
 }
}
//=========================================================================
// Header
//=========================================================================
header {
  @include flexy(
  $width: 100%,
  );
  grid-area: header;
}
.header {
  @include flexy(
    $dir: row,
    $width: 100%,
  )
}
//======== User + Bell
.userProfile {
@include flexy (
  $dir: row,
  $alignitems: center,
  $just: flex-end,
  $padding: 0 4% 0 0,
  $width: 100%,
);
@include mg("md") {
  padding-right: 1em;
}
}
//======== User
.user {
  @include flexy (
    $dir: row,
    $alignitems: center,
  );
   padding-left: 3%;
}
//======== Bell
.bell {
 @include flexy (
  $alignitems: center,
 );
 p {
   padding-bottom: 50%;
   color:green;
 }
}
.logo {
  @include flexy (
    $width: 100%,
    $padding: 0 4% 0 2%,
    $alignitems: center,
  );
}
//======== Notifications
.notification {
  @include flexy (
    $dir: column,
    $alignitems: center,
    $width: 100%,
    $textalign: center,
  );   
}
// ul 
#notifications{
 position: relative;
 width: 50%;
 top: 40px;
 right: 0px;
}
//=========================================================================
// Navigation
//=========================================================================
nav {
  @include flexy (
    $width: 100%,
  );
  grid-area: nav;
}
.navFlex {
  @include flexy(
    $width: 100%,
  );
  @include mg("md"){
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.navUl {
  @include flexy(
    $width: 100%,
    $dir: row, 
    $just: space-between,
  );
  // Media 
    @include mg("md"){
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-right: 20%;
      li{
        margin-top: 1.5em;
      }
    }
    padding-right: 5%;
}

//=========================================================================
// Main
//=========================================================================

//======== Main Container

main {
  @include flexy(
    $width: 100%,
    $dir: column,
  );
  @include mg("md") {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-template-areas:
    "alert alert"
    "content_search content_search"
    "lineChart  lineChart" 
    "barChart  donutChart"
    "social  social"
    "members activity"
    "message settings"
   
  }
  grid-area: main;
}
//======== SearchBar
.searchContainer{
  @include flexy(
    $just: space-between,
    $alignitems: center,
    $align: center,
    $width: 100%, 
  );
  h3 {
    padding-left: 5%;
  }
  grid-area: content_search;
}
.searchInput {
  @include flexy(
    $disp:flex,
    $width: 40%, 
  );
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; 
}
.searchIcon {
  padding: 0.5rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}
//======== Alert
.alert {
  @include flexy (
    $just: space-around,
    $alignitems: center,
    $alignself: center,
    $width: 100%,
    $order: -1,
  );  
  grid-area: alert;
  
}

//======== Charts
.barChart {
  @include flexy (
  );
  height: 100%;
  width: 100%;
  grid-area: barChart;
  padding: 5%; 
}
// lineChart
.lineChart {
  @include flexy(
  );
  height: 100%;
  width: 100%;
  grid-area: lineChart;
  padding: 5%;
}
// doughnutChart
.donutChart {
  @include flexy (
  );
  width:100%;
  padding: 5%;
  grid-area: donutChart;
}

canvas {
  @extend %canvas;
}
//======== Social Widgets
.widget {
  margin-bottom: 1em;
  max-width: 100%;
}
.social {
  @include flexy(
    $width: 100%,
    $dir: column, 
  );
  grid-area: social;
  @include mg("md") {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "socialStats socialStats socialStats"
    "facebook twitter google"
  }
  max-width: 100%;
}

.widget{
  @include flexy(
    $dir: row,
    $alignitems: center,
    $just: space-around,
  );
}
.socialStats {
  @include flexy(
    $dir: row,
    $alignitems: center,
    $just: space-around,
    $padding: 5%,
  );
  grid-area: socialStats
}
.facebook {
  text-align: center;
  grid-area: facebook;
}
.twitter {
  text-align: center;
  grid-area: twitter;
}
.google {
  text-align: center;
  grid-area: google;
}
// icons text
.stats {
  @include flexy(
    $dir: column,
  );
  padding-left: 10%;
}

//======== New Members Section

.new-members {
  @include flexy(
    $dir: column,
    $align: center,
    $width: 80%,
    $margin: 10% ,
  );
   min-width: 100%;
  grid-area: members;

}
.member {
  @include flexy(
    $dir: row,
    $width: 100%,
    $alignitems:flex-start,
    $alignself: flex-start,
  );
  p {
    align-self: flex-end;
  }
}
//======== Recent Activity
.activity {
  @include flexy(
    $dir: column,
    $width: 80%,
    $margin: 10%,
  );
  min-width: 100%;
  grid-area: activity;
}
//======== Message User
.message {
  @include flexy(
    $dir: column,
    $alignitems: center,
    $width: 70%,
    $margin: 10% auto, 
  );
  grid-area: message;
}
.form {
  #search {
    width: 100%;
    
  }
  #userMessage {
    width: 100%;
  }
}

//searchBar
#search {
  width: 100%;
  
}
// textField
#userMessage {
  width: 100%;
}
// button
.button {
  text-align: center;
}

//======== Settings 
.settings {
  @include flexy(
    $dir: column,
    $alignitems: center,
    $width: 70%,
    $margin: 10% auto,
  );
  grid-area: settings;
}
.settings-group {
  @include flexy (
    $just: space-between, 
    $alignitems: center,
    $margin: 0 0 20px 0 ,
  );
   p {
     padding-right: 5%;
   }
}
//======== TimeZone
.timezone {
  padding-top: 5%;
  align-self: center;
}
.save-cancel {
  @include flexy(
    $dir: row,
    $just: space-around,
    $width: 50%,
  );
  margin-top: 5%;
  padding: 5%;
}
// save button
#save {
    margin-right: 10px;
}

